@charset "utf-8";
#header {
	width: 100%;
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px;
}

#center {
	width: 20%;
	height: 60%;
	padding: 10px;
	border: inset;
	display: block;
	vertical-align: middle;
	margin-left: 40%;
	color: green;
}

#footer {
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px;
	width: 100%;
	bottom: 0;
	position: absolute;
}

.title{
  position:relative;
  text-align:center;
}
.title:before, .title:after {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
}
.title:before {
  background: -webkit-linear-gradient(right, #666 , #eee); 
  background: -o-linear-gradient(left, #666 , #eee); 
  background: -moz-linear-gradient(left,#666 , #eee);
  background: linear-gradient(to left, #666 , #eee); 
  left: 2px;
}
.title:after {
  background: -webkit-linear-gradient(left, #666 , #eee); 
  background: -o-linear-gradient(right, #666 , #eee); 
  background: -moz-linear-gradient(right,#666 , #eee);
  background: linear-gradient(to right, #666 , #eee); 
  right: 2px;
}